# Выбор локации для скважины

## Импорт библиотек и выгрузка данных

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error

from tqdm import tqdm

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
try:
    geo_data_0 = pd.read_csv('C:/Users/acer/YandexDisk/Учеба/Я. Практикум/Data/geo_data_0.csv')
except:
    geo_data_0 = pd.read_csv('/datasets/geo_data_0.csv')
print(geo_data_0.info())
geo_data_0.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB
None

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.500419       0.250143       2.502647      92.500000
std         0.871832       0.504433       3.248248      44.288691
min        -1.408605      -0.848218     -12.088328       0.000000
25%        -0.072580      -0.200881       0.287748      56.497507
50%         0.502360       0.250252       2.515969      91.849972
75%         1.073581       0.700646       4.715088     128.564089
max         2.362331       1.343769      16.003790     185.364347

In [3]:
try:
    geo_data_1 = pd.read_csv('C:/Users/acer/YandexDisk/Учеба/Я. Практикум/Data/geo_data_1.csv')
except:
    geo_data_1 = pd.read_csv('/datasets/geo_data_1.csv')
print(geo_data_1.info())
geo_data_1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB
None

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        1.141296      -4.796579       2.494541      68.825000
std         8.965932       5.119872       1.703572      45.944423
min       -31.609576     -26.358598      -0.018144       0.000000
25%        -6.298551      -8.267985       1.000021      26.953261
50%         1.153055      -4.813172       2.011479      57.085625
75%         8.621015      -1.332816       3.999904     107.813044
max        29.421755      18.734063       5.019721     137.945408

In [4]:
try:
    geo_data_2 = pd.read_csv('C:/Users/acer/YandexDisk/Учеба/Я. Практикум/Data/geo_data_2.csv')
except:
    geo_data_2 = pd.read_csv('/datasets/geo_data_2.csv')
print(geo_data_2.info())
geo_data_2.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB
None

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.002023      -0.002081       2.495128      95.000000
std         1.732045       1.730417       3.473445      44.749921
min        -8.760004      -7.084020     -11.970335       0.000000
25%        -1.162288      -1.174820       0.130359      59.450441
50%         0.009424      -0.009482       2.484236      94.925613
75%         1.158535       1.163678       4.858794     130.595027
max         7.238262       7.844801      16.739402     190.029838

In [5]:
geo_data_0['id'].duplicated().sum()

10

In [6]:
geo_data_1['id'].duplicated().sum()

4

In [7]:
geo_data_2['id'].duplicated().sum()

4

Каждые данные имеют 10000 строк, пропуски в них отсутствуют. Также в данных присутствуют скважины с одинаковыми 'id'.

## Разбивка датасетов на выборки

In [8]:
#geo_data_0
features_0 = geo_data_0.drop(['id', 'product'], axis=1)
target_0 = geo_data_0['product']
target_0

0        105.280062
1         73.037750
2         85.265647
3        168.620776
4        154.036647
            ...
99995    110.744026
99996    122.346843
99997     64.375443
99998     74.040764
99999    149.633246
Name: product, Length: 100000, dtype: float64

In [9]:
#geo_data_1
features_1 = geo_data_1.drop(['id', 'product'], axis=1)
target_1 = geo_data_1['product']
target_1

0          3.179103
1         26.953261
2        134.766305
3        137.945408
4        134.766305
            ...
99995     53.906522
99996    137.945408
99997    137.945408
99998     30.132364
99999      3.179103
Name: product, Length: 100000, dtype: float64

In [10]:
#geo_data_2
features_2 = geo_data_2.drop(['id', 'product'], axis=1)
target_2 = geo_data_2['product']
target_2

0         27.758673
1         56.069697
2         62.871910
3        114.572842
4        149.600746
            ...
99995    172.327046
99996    138.748846
99997    157.080080
99998     51.795253
99999    102.775767
Name: product, Length: 100000, dtype: float64

### Разбивка на выборки и обучение по датасету geo_data_0

In [11]:
features_train_0, features_valid_0, target_train_0, target_valid_0 = train_test_split(features_0,
                                                                                      target_0,
                                                                                      test_size=0.25,
                                                                                      random_state=12345
                                                                                     )

In [12]:
print(features_train_0.shape, features_valid_0.shape)

(75000, 3) (25000, 3)

In [13]:
model_0 = LinearRegression()
model_0.fit(features_train_0, target_train_0)
prediction_0 = model_0.predict(features_valid_0)
prediction_0 = pd.Series(prediction_0, index=target_valid_0.index)
rmse_0 = mean_squared_error(target_valid_0, prediction_0) ** 0.5
print('Запас среднего запаса сырья первого региона равен', prediction_0.mean())
print('RMSE модели равен', rmse_0)

Запас среднего запаса сырья первого региона равен 92.59256778438035
RMSE модели равен 37.5794217150813

### Разбивка на выборки и обучение по датасету geo_data_1

In [14]:
features_train_1, features_valid_1, target_train_1, target_valid_1 = train_test_split(features_1,
                                                                                      target_1,
                                                                                      test_size=0.25,
                                                                                      random_state=12345
                                                                                     )

In [15]:
print(features_train_1.shape, features_valid_1.shape)

(75000, 3) (25000, 3)

In [16]:
model_1 = LinearRegression()
model_1.fit(features_train_1, target_train_1)
prediction_1 = model_1.predict(features_valid_1)
prediction_1 = pd.Series(prediction_1, index=target_valid_1.index)
rmse_1 = mean_squared_error(target_valid_1, prediction_1) ** 0.5
print('Запас среднего запаса сырья второго региона равен', prediction_1.mean())
print('RMSE модели равен', rmse_1)

Запас среднего запаса сырья второго региона равен 68.728546895446
RMSE модели равен 0.893099286775617

### Разбивка на выборки и обучение по датасету geo_data_2

In [17]:
features_train_2, features_valid_2, target_train_2, target_valid_2 = train_test_split(features_2,
                                                                                      target_2,
                                                                                      test_size=0.25,
                                                                                      random_state=12345
                                                                                     )

In [18]:
print(features_train_2.shape, features_valid_2.shape)

(75000, 3) (25000, 3)

In [19]:
model_2 = LinearRegression()
model_2.fit(features_train_2, target_train_2)
prediction_2 = model_2.predict(features_valid_2)
prediction_2 = pd.Series(prediction_2, index=target_valid_2.index)
rmse_2 = mean_squared_error(target_valid_2, prediction_2) ** 0.5
print('Запас среднего запаса сырья третьего региона равен', prediction_2.mean())
print('RMSE модели равен', rmse_2)

Запас среднего запаса сырья третьего региона равен 94.96504596800489
RMSE модели равен 40.02970873393434

Средние показатели предсказаний по среднему запасу сырья практически одинаковы со средними значениями всей выборки

## Подготовка к расчету прибыли

In [20]:
BUDGET = 10000000000
INCOME = 450000
N = 200
value = BUDGET / INCOME / N
print(f'Достаточный объём сырья для безубыточной разработки новой скважины равен {round(value, 2)}')

Достаточный объём сырья для безубыточной разработки новой скважины равен 111.11

In [21]:
perc_0 = geo_data_0['product'].mean() / value
perc_1 = geo_data_1['product'].mean() / value
perc_2 = geo_data_2['product'].mean() / value
print(f'Доля среднего запас сырья по 1 региону от 111 баррелей {round(perc_0, 2)}')
print(f'Доля среднего запас сырья по 2 региону от 111 баррелей {round(perc_1, 2)}')
print(f'Доля среднего запас сырья по 3 региону от 111 баррелей {round(perc_2, 2)}')

Доля среднего запас сырья по 1 региону от 111 баррелей 0.83
Доля среднего запас сырья по 2 региону от 111 баррелей 0.62
Доля среднего запас сырья по 3 региону от 111 баррелей 0.86

## Функция для расчёта прибыли по выбранным скважинам и предсказаниям модели

In [22]:
count_0 = geo_data_0.loc[geo_data_0['product'] > 111, 'product'].count()
count_1 = geo_data_1.loc[geo_data_1['product'] > 111, 'product'].count()
count_2 = geo_data_2.loc[geo_data_2['product'] > 111, 'product'].count()

print(f'Количество скважин 1-ого региона, где объем запаса сырья больше 111 баррелей = {count_0}')
print(f'Количество скважин 2-ого региона, где объем запаса сырья больше 111 баррелей = {count_1}')
print(f'Количество скважин 3-ого региона, где объем запаса сырья больше 111 баррелей = {count_2}')

Количество скважин 1-ого региона, где объем запаса сырья больше 111 баррелей = 36676
Количество скважин 2-ого региона, где объем запаса сырья больше 111 баррелей = 16537
Количество скважин 3-ого региона, где объем запаса сырья больше 111 баррелей = 38278

In [23]:
#prediction_0 = pd.Series(prediction_0)
#prediction_1 = pd.Series(prediction_1)
#prediction_2 = pd.Series(prediction_2)

In [24]:
#target_valid_0.sort_values(ascending=False)

In [34]:
def income_func(prediction, target):
#     probs = prediction.sort_values(ascending=False)[:200]
#     selected = target[probs.index]
    # код ревьюера
    probs = prediction.sort_values(ascending=False)
    selected = target[probs.index][:200]
    sum_target = selected.sum()
    return round(round((sum_target*INCOME) - BUDGET, 2)/1000000000, 2)

print(f'Прибыль первого региона для полученного объема сырья с 200 лучших скважин равна {income_func(prediction_0, target_0)} млрд. руб.')
print(f'Прибыль второго региона для полученного объема сырья с 200 лучших скважин равна {income_func(prediction_1, target_1)} млрд. руб.')
print(f'Прибыль третьего региона для полученного объема сырья с 200 лучших скважин равна {income_func(prediction_2, target_2)} млрд. руб.')

Прибыль первого региона для полученного объема сырья с 200 лучших скважин равна 3.32 млрд. руб.
Прибыль второго региона для полученного объема сырья с 200 лучших скважин равна 2.42 млрд. руб.
Прибыль третьего региона для полученного объема сырья с 200 лучших скважин равна 2.71 млрд. руб.

В итоге, если брать наилучшие по добыче скважины в каждом регионе, то каждый регион будет прибыльним. Самый прибыльный из них - первый регион

## Риски и прибыль каждого ргеиона

In [26]:
def bootstrap_func(prediction, target, name):
    
    state = np.random.RandomState(12345)
    
    profit = []

    for i in tqdm(range(1000)):
        prediction_new = prediction.sample(500, replace=True, random_state=state)
        target_new = target[prediction_new.index]
        profit.append(income_func(prediction_new, target_new))
        
    profit_list = pd.Series(profit)
    profit_mean = profit_list.mean()

    lower = profit_list.quantile(0.025)
    upper = profit_list.quantile(0.975)

    loss_prob = (profit_list < 0).mean() * 100
    
    print(f'Средняя прибыль {name} региона равна: {round(profit_mean, 2)} млрд. руб.')
    print(f'Доверительный интервал {name} региона равен от {round(lower, 2)} млрд. руб. до {round(upper, 2)} млрд. руб.')
    print(f'Риск убытков {name} региона равен: {round(loss_prob, 2)}%')
    
    return profit

In [35]:
profit_0 = bootstrap_func(prediction_0, target_valid_0, '1')

100%|██████████| 1000/1000 [00:01<00:00, 780.42it/s]

Средняя прибыль 1 региона равна: 0.43 млрд. руб.
Доверительный интервал 1 региона равен от -0.1 млрд. руб. до 0.95 млрд. руб.
Риск убытков 1 региона равен: 5.9%

In [36]:
profit_1 = bootstrap_func(prediction_1, target_valid_1, '2')

100%|██████████| 1000/1000 [00:01<00:00, 793.27it/s]

Средняя прибыль 2 региона равна: 0.52 млрд. руб.
Доверительный интервал 2 региона равен от 0.07 млрд. руб. до 0.93 млрд. руб.
Риск убытков 2 региона равен: 1.0%

In [37]:
profit_2 = bootstrap_func(prediction_2, target_valid_2, '3')

100%|██████████| 1000/1000 [00:01<00:00, 728.07it/s]

Средняя прибыль 3 региона равна: 0.43 млрд. руб.
Доверительный интервал 3 региона равен от -0.13 млрд. руб. до 0.97 млрд. руб.
Риск убытков 3 региона равен: 6.3%

<div style="border:solid orange 2px; padding: 20px">

## Вывод

В данном проекте были предоставлены данные трех регионов по добыче нефти, с характеристиками скважин (качество и объем запасов). \
В каждом датасете имелось 10000 значений для разных скважин. Но в данных присутствовали некоторые дубликаты, природа которых неизвестна, поэтому были оставлены, как есть. Пропусков в данных обнаружено не было.

Все эти данные использовались для прогноза прибыльности региона, если взять 200 наиболее прибыльных скважин.

Данные были разбиты на тренировочные и тестовые выборки, в качестве целевого признака был взять объем запасов скважины.

В ходе анализа было выяснено, что для прибыльности региона, объем запаса сырья новой скважины должен быть более 111 баррелей.

В конечном итоге, максимальная суммарная прибыль среди всех регионов должна быть у второго региона, которая равна 0.67 млрд. руб. Также этот регион наилучший по наименьшему риску убытков. Риск убытков в этом регионе составляет 0.3%